body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #6b9ac7;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(9, 9, 9);
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

main {
    padding: 0px;
    text-align: center;
}

section {
    margin-bottom: 20px;
    padding: 60px 20px;
    color: white;
}
 #teams{
    margin-top: 10px;
    padding: 10px;
 }
 #teams p{
    margin-top: 1px;
    padding: 1px;
    color: #000000;
    font-size: medium;
    font-family:'Times New Roman', Times, serif;
 }

#home {
    background: url('./pexels-jurie-maree-3665535-5519470.jpg') no-repeat center center/cover;
    height: 100vh; /* Full height of the viewport */
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center; /* Centers the image */
}

#about {
    background: url('./pexels-padrinan-2882509.jpg') no-repeat center center/cover;
    height: 100vh; /* Full height of the viewport */
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center; /* Centers the image */
}

#teams {
    background: url('./teams.jpg') no-repeat center center/cover;
    height: 100vh; /* Full height of the viewport */
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center; /* Centers the image */
}

#contact {
    background: url('./pexels-olly-3783229.jpg') no-repeat center center/cover;
    height: 100vh; /* Full height of the viewport */
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center; /* Centers the image */
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    background: rgba(165, 79, 231, 0.6);
    padding: 20px;
    border-radius: 8px;
}

label {
    display: block;
    margin-top: 10px;
    color: white;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
}

button {
    background-color: #013ef6;
    color: rgb(255, 253, 255);
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}
#love{
    color: rgb(247, 9, 9);
}

button:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    form {
        width: 90%;
    }
}
